[submodule "helloworld"]
	path = helloworld
	url = https://github.com/fw876/helloworld.git
[submodule "openwrt-passwall"]
	path = luci-app-passwall
	url = https://github.com/xiaorouji/openwrt-passwall
[submodule "luci-theme-argon-18.06"]
	path = luci-theme-argon-18.06
	url = https://github.com/jerrykuku/luci-theme-argon.git
	branch = 18.06
[submodule "luci-app-argon-config"]
	path = luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config.git
[submodule "luci-app-amlogic"]
	path = luci-app-amlogic
	url = https://github.com/ophub/luci-app-amlogic.git
